<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <title>Chat - <%= user %></title>
</head>
<body>
  <h1>Bienvenido, <%= user %>!</h1>
  <p>Esta es tu página individual de chat.</p>
  <a href="/">Cerrar sesión</a>
</body>
</html>
